html{
    justify-content: center;
    display:flez;
    align-items: center;
    padding-top: 200px;
}

.main{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: auto;
    height: auto;
    flex-direction: column;
}

@media screen and (min-width: 25em){
    .main { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}


.redesSociais {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 50px;
        margin: 25px;

        &:hover{
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}

p{
    align-items: center  !important;
    display: flex !important;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

