<html>
  <div>
    <img class="fullstack" src="./assets/fullstack.png" alt="Imagem" title="Fullstack Developer" />
  </div>

  <button type="button" class="aboutMe btn btn-outline-primary" (click)="showAbout()">About Me</button>

  <div class="icons">
    <img class="icon" src="./assets/csharp.png" alt="imagem" title="Logo C#" />
    <img class="icon" src="./assets/angular.svg" alt="imagem" title="Logo Angular" />
    <img class="icon" src="./assets/html.png" alt="imagem" title="Logo Html" />
    <img class="icon" src="./assets/css.png" alt="imagem" title="Logo CSS" />
    <img class="icon" src="./assets/dotnet.png" alt="imagem" title="Logo .Net" />
    <img class="icon" src="./assets/java.png" alt="imagem" title="Logo Java" />
    <img class="icon" src="./assets/js.png" alt="imagem" title="Logo Javascript" />
    <img class="icon" src="./assets/python.png" alt="imagem" title="Logo Python" />
    <img class="icon" src="./assets/sql-server.png" alt="imagem" title="Logo Sql Server" />
    <img class="icon" src="./assets/typescript.png" alt="imagem" title="Logo Typescript" />
  </div>

  <ng-container *ngIf="showModalAbout" #modal>
    <div class="modalAbout">
      I'm a Fullstack Developer professionally for 2 years working mainly with C#, .NET and Javascript.
      I have complete projects of different types where I had the objective of testing my knowledge and I worked in squads
      within companies where I was responsible for solving bugs,
      carrying out demands and thoroughly testing each part of what was developed for a delivery with the closest number
      of
      errors from 0.
      I love to develop backend and frontend systems and I discovered this passion while attending college.
    </div>
    <div (click)="showAbout()" class="overlay"></div>
  </ng-container>

</html>